#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "rsshub"
name = "RSSHub"
description.en = "Extensible RSS feed aggregator"
description.fr = "Agrégateur de flux RSS extensible"

version = "2025.02.03~ynh1"

maintainers = []

[upstream]
license = "MIT"
website = "https://docs.rsshub.app/"
admindoc = "https://docs.rsshub.app/install/"
code = "https://github.com/DIYgod/RSSHub"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.access_key]
    type = "string"
    ask.en = "Access key to protect your RSS fields"
    ask.fr = "Clé d'accès pour protéger vos champs RSS"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/DIYgod/RSSHub/archive/ecdacdd09f0a095b98d483d4a2f73821f8cb390c.zip"
    sha256 = "1db48343a7f3fb70d7a4f2034ab2d5aac71944a35343d16c48f85d129d2dcd51"
    #autoupdate.upstream = "https://github.com/DIYgod/RSSHub"
    #autoupdate.strategy = "latest_github_commit"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]

    [resources.nodejs]
    version = "22"
