#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "rsshub"
name = "RSSHub"
description.en = "Extensible RSS feed aggregator"
description.fr = "Agrégateur de flux RSS extensible"

version = "2026.01.30~ynh1"

maintainers = []

[upstream]
license = "MIT"
website = "https://docs.rsshub.app/"
admindoc = "https://docs.rsshub.app/install/"
code = "https://github.com/DIYgod/RSSHub"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false
sso = false

disk = "100M"
ram.build = "800M"
ram.runtime = "600M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.access_key]
    type = "string"
    ask.en = "Access key to protect your RSS fields"
    ask.fr = "Clé d'accès pour protéger vos champs RSS"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/DIYgod/RSSHub/archive/54606008c16f88754bd55b32ad34d709ca14357c.tar.gz"
    sha256 = "62a68d373bdd55bd522c379a324f717ccdaf2c3634fd902009ca971abb24f4b7"
    autoupdate.upstream = "https://github.com/DIYgod/RSSHub"
    autoupdate.strategy = "latest_github_commit"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 1200

    [resources.nodejs]
    version = "22"
