#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "rsshub"
name = "RSSHub"
description.en = "Extensible RSS feed aggregator"
description.fr = "Agrégateur de flux RSS extensible"

version = "2026.02.08~ynh1"

maintainers = []

[upstream]
license = "MIT"
website = "https://docs.rsshub.app/"
admindoc = "https://docs.rsshub.app/install/"
code = "https://github.com/DIYgod/RSSHub"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false
sso = false

disk = "100M"
ram.build = "800M"
ram.runtime = "600M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.access_key]
    type = "string"
    ask.en = "Access key to protect your RSS fields"
    ask.fr = "Clé d'accès pour protéger vos champs RSS"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/DIYgod/RSSHub/archive/8df1da90296f7bc0eaf25fb2f54c1756efe87dfd.tar.gz"
    sha256 = "135791d0c6ac7d37963cfb1e43c59c403f1b38d77f884da112b98b46fd975014"
    autoupdate.upstream = "https://github.com/DIYgod/RSSHub"
    autoupdate.strategy = "latest_github_commit"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 1200

    [resources.nodejs]
    version = "22"
