#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "rsshub"
name = "RSSHub"
description.en = "Extensible RSS feed aggregator"
description.fr = "Agrégateur de flux RSS extensible"

version = "2025.02.03~ynh1"

maintainers = []

[upstream]
license = "MIT"
website = "https://docs.rsshub.app/"
admindoc = "https://docs.rsshub.app/install/"
code = "https://github.com/DIYgod/RSSHub"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false
sso = false

disk = "1500M"
ram.build = "700M"
ram.runtime = "500M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.access_key]
    type = "string"
    ask.en = "Access key to protect your RSS fields"
    ask.fr = "Clé d'accès pour protéger vos champs RSS"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/DIYgod/RSSHub/archive/49679f657cf3fa098f0fb0ab31f1e3ba8de578fd.zip"
    sha256 = "932e60f36f5a7421e8a7539eb07bb42c24a2b33e5125a852d445809b5eab63b3"
    autoupdate.upstream = "https://github.com/DIYgod/RSSHub"
    autoupdate.strategy = "latest_github_commit"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]

    [resources.nodejs]
    version = "22"
